.content-body{
    min-height: 100%;
    height: 100vh;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-error{
    border-radius: 2px!important;
    width: 35vw!important;
    display: flex;
    flex-direction: column;
    text-align: center!important;
    justify-content: center;
    align-items: center!important;
  }


  .cookie-block-error{
    color:rgb(85, 85, 85);
  }

  .c-drk{
    color:rgb(45, 45, 45);
  }

  .zmap-header{
    font-family: 'Jakarta-semi-bold'!important;
   }