<div class="mat-parent flex-column ">
    <p class="f-s-18 p-l-10 f-w-500">Territory Deletion</p>
    <div class="f-s-15 p-l-10 p-r-10 w-100 d-flex gap-10">
        <div class=" f-s-15 m-b-5 f-w-400 ">Are you sure you want to <span class="c-red f-w-500"> delete </span>the Territory  <span class="f-w-500"> {{zoneData?.name}} </span> ? </div>
    </div>
    <div class="btn-parent text-center d-flex align-center j-end w-100 t-a-right">
        <button mat-button class="  f-s-13  btn-ok  f-w-500" style="border-radius:5px!important"
            (click)="okClick()">DELETE</button>
        <button mat-button class="btn-cancel f-s-13 p-5  m-r-5 f-w-500" 
            (click)="cancelClick()">CANCEL</button>
        
    </div>

</div>