/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .map {
    height:100%;
  }

  .c-gr{
    color:grey;
  }

  .dot{
    color: rgb(146, 146, 146);
    font-weight: 400;
  }

  .flex-1{
    flex:1 !important;
  }
  .flex-2{
    flex:2 !important;
  }

  .w-90{
    width: 90%!important;
  }
  .w-95{
    width: 95% !important;
  }

  .w-100{
    width: 100%!important;
  }